
<div class="body" >

<div class="divbuscar">
  <input  class="inputbuscar" type="text" #buscar name="" id=""placeholder="Busca tu pelicual...">
  <button type="button" (click)="getpeliculasName(buscar)">Buscar</button>
</div>

<div *ngFor="let item of pelicula" class="colum">
  <div data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getpeliculasdetalle(item.id)" >
  <img class="portada" src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" alt="">
  <h1>{{item.title}}</h1>
  <p>{{item.overview}}</p>
  <p>lenguaje :{{item.original_language}}</p>
</div>

  </div>


            <div class="modal fade  " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog bg-dark ">
              <div class="modal-content bg-dark justify-content-center">
                <div class="modal-header ">
                  <h5 class="modal-title text-center" id="exampleModalLabel">Canciones del album</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-backdrop-bg " *ngFor="let item of pelicula">
                  <div><h1>{{item.title}}</h1></div>
                  <img class="portada" src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" alt="">
                  <p>
                    {{item.overview}}
                  </p>
                  <p>{{item.original_language}}</p>
                  <div></div>
                  <div class="card-body modal-backdrop-bg">
                    <p class="card-text modal-backdrop-bg justify-content-cente">{{ item.title }}</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
              </div>
            </div>
          </div>
</div>
<div>
  
</div>




<router-outlet></router-outlet>
